.page-footer.blue.accent-4
  .container
    .row
      .col.l6.s12
        h5.white-text John Meas
        p.grey-text.text-lighten-4 Web Developer and Illustrator    
      .col.l4.offset-l2.s12      
      .footer-copyright
        .container © 2014 John Meas
          a.grey-text.text-lighten-4.right(href="https://johnkmeas.github.io/main-portfolio/") Back to Main 