.row
	- for (var x = 0; x < 3; x++)  
		.col.s6.m4
			img(src="http://www.fillmurray.com/340/340" alt="...").responsive-img
			.caption.center
				h3 Thumbnail label
				p something goes here like lorems
				p: a(href="#").btn.btn-primary Button


