a.waves-effect.waves-light.btn.modal-trigger(href="#modal1") Modal
#modal1.modal
  .modal-content
    h4 This is a Modal Window
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore laboriosam tenetur quia tempora hic fuga beatae culpa atque, dolores, odit rerum dignissimos nihil. Ipsam quidem, optio amet exercitationem dolorum ea!
  .modal-footer
    a(href="#!").modal-action.modal-close.waves-effect.waves-green.btn-flat Agree