.parallax-container
	.parallax: img(src="http://www.fillmurray.com/900/500")
.section.white
	.row.container
		h2.header Parallax
		p.grey-text.text-darken-3.lighten-3 Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.
.parallax-container
	.parallax: img(src="http://www.fillmurray.com/1000/600")