script(src="https://code.jquery.com/jquery-2.1.4.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js")
script.
	$(".button-collapse").sideNav();
	$('.carousel.carousel-slider').carousel({full_width: true});
	$(document).ready(function(){
	$('.slider').slider({full_width: true});
	});
	$(document).ready(function(){
	$('.modal-trigger').leanModal();
	});
	$(document).ready(function(){
	$('.parallax').parallax();
	});
	$(document).ready(function(){
	$('.materialboxed').materialbox();
	});
	$(document).ready(function(){
	$('.carousel').carousel();
	});

