.dropdown
  button(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="true").btn.btn-default.dropdown-toggle#dropdownMenu1 Dropdown
    span.caret
  ul(aria-labelledby="dropdownMenu1").dropdown-menu
    li: a(href="#") Hello there

ul
  li.dropdown-link.btn.btn-default
    a(href="#") menu 
      span.caret
    ul.sub-menu
      li.dropdown-header Drop down header
      li: a(href="#") submenu
      li: a(href="#") submenu
      li: a(href="#") submenu
