.row
	.row.col-sm-12.col-md-12
		.col-sm-12.col-md-6
			.thumbnail
				img(src="http://www.fillmurray.com/400/500" alt="...")
		- for (var x = 0; x < 2; x++)  
			.col-sm-6.col-md-3
				.thumbnail
					img(src="http://www.fillmurray.com/300/400" alt="...")
				.caption
					h3 Thumbnail label
					p something goes here like lorems
					p: a(href="#").btn.btn-primary Button