.row
  - for (var x = 0; x < 3; x++)  
    .col-sm-6.col-md-4
      .thumbnail
        img(src="http://www.fillmurray.com/300/400" alt="...")
      .caption
        h3 Thumbnail label
        p something goes here like lorems
        p: a(href="#").btn.btn-primary Button


