extends ./layout.jade

block content
	include ./includes/nav.jade
	include ./includes/header

	.container
		include ./includes/quad
		include ./includes/quad
		include ./includes/quad
		include ./includes/quad